# This is not applied by 'deploy.sh' script since the secrets are fetched
# from terraform output.
apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
type: Opaque
data:
  user: postgres
  password: postgres
